<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <title>{% block title %}Home | Mediapark task{% endblock %}</title>
    </head>
    
    <body>
      <div class="text-right">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a href="/" class="btn btn-info ">Home</a>
            <a href="/?myads={{ app.user.id }}" class="btn btn-info">My Ads</a>
            <a href="{{ logout_path() }}" class="btn btn-danger">Logout</a>
        {% else %}
            <a href="/" class="btn btn-info">Home</a>
            <a href="/register" class="btn btn-info">New User Registration</a>
            <a href="/login" class="btn btn-primary">Log in</a>
        {% endif %}
      </div>
            {% block body %}{% endblock %}
    </body>
</html>
